trigger:
  - develop
pr:
  branches:
    include:
      - "*"

stages:
  - stage: build
    displayName: Build
    jobs:
      - job: buildClient
        displayName: Build Client
        cancelTimeoutInMinutes: 7
        steps:
          - task: Npm@1
            displayName: "npm ci"
            inputs:
              command: "custom"
              customCommand: "ci"
          - task: Npm@1
            displayName: "npm run test"
            inputs:
              command: "custom"
              customCommand: "run test"
          - task: Npm@1
            displayName: "npm run build"
            inputs:
              command: "custom"
              customCommand: "run build"

          - task: ArchiveFiles@2
            inputs:
              rootFolderOrFile: "build"
              includeRootFolder: false
              archiveType: "zip"
              archiveFile: "$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip"
              replaceExistingArchive: true

          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: "$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip"
              artifact: "client-$(Build.BuildId)"
              publishLocation: "pipeline"

  - stage: deploy
    displayName: Deloy
    dependsOn: build
    jobs:
      - deployment: deployClient
        displayName: Deploy client
        environment: client-dev
        variables:
          - group: client-dev
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureAppServiceSettings@1
                  displayName: Azure App Service Settings
                  inputs:
                    azureSubscription: "Azure thesis resource manager"
                    appName: "dev-azure-thesis-client"
                    resourceGroupName: "dev-azure-thesis"
                    appSettings: |
                      [
                        {
                          "name": "API_URI",
                          "value": "$(API-URI)",
                          "slotSetting": false
                        }
                      ]
                - task: AzureWebApp@1
                  inputs:
                    azureSubscription: "Azure thesis resource manager"
                    appType: "webAppLinux"
                    appName: "dev-azure-thesis-client"
                    package: $(Pipeline.Workspace)/client-$(Build.BuildId)/*.zip
                    runtimeStack: "NODE|12-lts"
                    startUpCommand: npx serve
                    deploymentMethod: zipDeploy
