# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - develop

pool:
  vmImage: "ubuntu-latest"

stages:
  - stage: build
    displayName: Build
    jobs:
      - job: buildClient
        displayName: Build Client
        cancelTimeoutInMinutes: 7
        steps:
          - task: Npm@1
            inputs:
              command: "install"
          - task: Npm@1
            displayName: "client - npm run build"
            inputs:
              command: "custom"
              customCommand: "run build"

          - task: ArchiveFiles@2
            inputs:
              rootFolderOrFile: "build"
              includeRootFolder: false
              archiveType: "zip"
              archiveFile: "$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip"
              replaceExistingArchive: true

          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: "$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip"
              artifact: "client-$(Build.BuildId)"
              publishLocation: "pipeline"

  - stage: deploy
    displayName: Deloy
    dependsOn: build
    jobs:
      - deployment: deployCLient
        displayName: Deploy client
        environment: dev
        variables:
          - group:
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureAppServiceSettings@1
                  displayName: Azure App Service Settings
                  inputs:
                    azureSubscription: "Azure thesis resource manager"
                    appName: "dev-azure-thesis-client"
                    resourceGroupName: "dev-azure-thesis"
                    appSettings: |
                      [
                        {
                          "name": "API_URI",
                          "value": "$(API-URI)",
                          "slotSetting": false
                        }
                      ]

                - task: AzureWebApp@1
                  inputs:
                    azureSubscription: "Azure thesis resource manager"
                    appType: "webAppLinux"
                    appName: "dev-azure-thesis-client"
                    package: $(Pipeline.Workspace)/client-$(Build.BuildId)/*.zip
                    runtimeStack: "NODE|12-lts"
                    startUpCommand: npx serve
                    deploymentMethod: zipDeploy
